<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <main>
        <section>
            <p>Home page</p>
            <button id="myButton">Click Me</button>
        </section>
    </main>
</body>
</html>
